.title {
  font-size: 4.8em;
  font-weight: bold;
  margin: 50px 0 20px 0;
}

.date {
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 40px;
}

.article h1 h2 h3 h4 {
  font-weight: bold;
}

.article h2 {
  font-size: 4em;
  margin: 50px 0 30px 0;
}

.article h3 {
  font-size: 2.5em;
  margin: 50px 0 20px 0;
}

.article p {
  margin-bottom: 30px;
  line-height: 1.8em;
  font-size: 2.0em;
  color: #292929;
}

.article p img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.article b, strong {
  font-weight: bold;
}

.article p em, i {
  font-style: italic;
}

.article ul, ol {
  display: block;
  margin-bottom: 30px;
  font-size: 2.0em;
  color: #191919;
  text-align: left;
  list-style-position: inside;
}

.article blockquote > p {
  border-left: 4px solid #5B22FF;
  padding-left: 20px;
  color: #666666;
  font-size: 2.0em;
  margin-bottom: 30px;
  line-height: 1.8em;
}

.article pre {
  display: flex;
  font-size: 2.0em;
  margin-bottom: 30px;
  line-height: 1.8em;
  background: #191919;
  border-radius: 5px;
  overflow: scroll;
  padding: 20px;
}

.article pre > code {
  color: #FFFFFF;
  background: none;
}

.article code {
  font-size: 0.8em;
  width: 100%;
  font-family: monospace;
  color: #FFFFFF;
  background: #5B22FF;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
}

.article table {
  width: 100%;
  margin: 50px 0 30px 0;
  color: #292929;
  border-collapse: collapse;
}

.article table th {
  border: 1px solid #292929;
  font-weight: bold;
  color: #191919;
  padding: 10px;
  margin: 0;
  text-align: start;
  font-size: 2.2em;
}

.article table td {
  border: 1px solid #292929;
  padding: 10px;
  font-size: 2.0em;
}

.article a {
  color: #191919;
  text-decoration: none;
}

.article a:hover {
  color: #5B22FF;
}